.rodape {
    text-align: center;
    padding: 2rem;
    background-color: var(--cor1);
}

.rodape__texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--cor-fonte);
    margin-top: 2rem;
}

.rodape__link {
    
    text-decoration: none;
    color: var(--cor6);
    transition: .2s;
    margin: 1rem 1rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo__insta {

    margin-right: 1rem;
}

.logo__zap {

    margin-right: 1rem;
}

.rodape__link:hover {
    color: #9c6a0d;
}

@media screen and (max-width:767px) {
    
    .rodape {
        padding: 5rem 0;
    }

    .rodape__texto {
        font-size: 1rem;
    }
}